<div class="card container" style="width: 22rem;">
  <h2 class="text-center">Update Profile</h2>
  <div>
<section>
    <form class="container" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
        <label for="name">Task Title</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          [(ngModel)]="result.name"
        />
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <input
          type="text"
          class="form-control"
          id="gender"
          formControlName="gender"
          [(ngModel)]="result.gender"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
          [(ngModel)]="result.email"
        />
      </div>
      <div class="form-group text-center">
        <button
          type="submit"
          class="btn btn-primary"
        >
         Update
        </button>
      </div>
    </form>
  </section>
  </div>
</div>
